manifest {
  name = 'qcflow-rnaseq'
  description = 'QC and alignemnt of short reads to reference genome.'
  homePage = 'https://github.com/AAGI-AUS/qcflow-rnaseq'
  author = 'Kristina K. Gagalova'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.03'
  version = "v1.0.0"
}

params.custom_config_base = "."
includeConfig("nfcore_custom.config")

process {
    // ALL PROCESSES
    cache        = true
    scratch      = false
    stageInMode  = 'symlink'
    stageOutMode = 'rsync'

    // To be used eventually
    resourceLimits = [ memory: 64.GB, time: 24.h, cpus: 12 ]
    // SPECIFIC RESOURCES
    withLabel: 'hisat' {
	cpus = { 32 * task.attempt }
        memory = { 200.GB * task.attempt }
        time = { 24.h * task.attempt }
    }

    withLabel: 'hisat_highmem' {
	cpus = { 32 * task.attempt }
        memory = { 500.GB * task.attempt  }
        time = { 24.h * task.attempt }
    }

    withLabel: 'star' {
	cpus = { 32 * task.attempt }
        memory = { 100.GB * task.attempt }
        time = { 24.h * task.attempt }
    }

    withLabel: 'fastp' {
	cpus = { 32 * task.attempt }
        memory = { 20.GB * task.attempt }
        time = { 6.h * task.attempt }
    }

    withLabel: 'featurecounts' {
	cpus = { 32 * task.attempt }
        memory = { 20.GB * task.attempt }
        time = { 6.h * task.attempt }
    }

    withLabel: 'bbt' {
	cpus = { 32 * task.attempt }
        memory = { 500.GB * task.attempt }
        time = { 24.h * task.attempt }
    }

}

plugins {
  id 'nf-validation'
}
