manifest {
  name = 'qcflow-rnaseq'
  description = 'QC and alignemnt of short reads to reference genome.'
  homePage = 'https://github.com/ccdmb/qcflow-rnaseq'
  author = 'Kristina K. Gagalova'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.03'
  version = "v1.0.0"
}

params.custom_config_base = "."
includeConfig("nfcore_custom.config")

process {
    // ALL PROCESSES
    cache        = true
    scratch      = false
    stageInMode  = 'symlink'
    stageOutMode = 'rsync'

    // DEFAULT RESOURCES
    cpus         = 12
    memory       = 4.GB
    
    // SPECIFIC RESOURCES
    withLabel: 'hisat' {
        cpus = 32
        memory = 200.GB
    }

    withLabel: 'hisat_highmem' {
        cpus = 32
        memory = 500.GB
    }

    withLabel: 'star' {
        cpus = 32
        memory = 100.GB
    }

    withLabel: 'fastp' {
        cpus = 32
        memory = 20.GB
    }

    withLabel: 'featurecounts' {
        cpus = 32
	memory = 20.GB
    }

}

plugins {
  id 'nf-validation'
}
