manifest {
  name = 'qcflow-rnaseq'
  description = 'QC and alignemnt of short reads to reference genome.'
  homePage = 'https://github.com/ccdmb/qcflow-rnaseq'
  author = 'Kristina K. Gagalova'
  mainScript = 'main.nf'
  nextflowVersion = '>=23.10.0'
  version = "v0.0.5"
}


params.custom_config_base = "."
includeConfig("nfcore_custom.config")

plugins {
  id 'nf-validation'
}
